<div class="main-product page-container">
    <div class="hero-wrapper">
        <div class="gallery-wrapper">
            {%- assign image_count = 0 -%}

            <div class="gallery-images">
                {%- for img in product.images -%}
                    <div class="gallery-image-wrapper">
                        <img src="{{ img.src | image_url }}" alt="{{ img.alt }}" loading="lazy" width=716 height class="" />
                    </div>
                    {%- assign image_count = image_count | plus: 1 -%}
                {%- endfor -%}
            </div>
            <div class="gallery-controls">
                {{ image_count }}
            </div>
        </div>
        <div class="text-wrapper">
            <button class="back-button" aria-role="Back to all products">{%- render 'icon-back' -%} Back</button>
            <h1>{{ product.title }}</h1>
            <p>{{ product.metafields.reviews.ratings }}</p>
            <p>{{ product.metafields.custom.size }}</p>

            <p>{{ product.description }}</p>

            <h3>Ingredients</h3>

            <h3>Made for</h3>
            <p>{{ product.metafields.custom.made_for }}</p>

            <div class="accordion-wrapper">
                <div class="accordion-item">
                    <div class="accordion-title">
                        <h3 class="h3">How to use</h3>
                    </div>
                    <div class="accordion-collapsible">
                        {{ product.metafields.custom.instructions | newline_to_br }}
                    </div>
                    <div class="accordion-title">
                        <h3 class="h3">Ingredients</h3>
                    </div>
                    <div class="accordion-collapsible">
                        {{ product.metafields.custom.ingredients_list }}
                    </div>
                    <div class="accordion-title">
                        <h3 class="h3">Recycling</h3>
                    </div>
                    <div class="accordion-collapsible">
                        {{ product.metafields.custom.recycling | newline_to_br }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews-wrapper">
        <h2>Reviews</h2>
        <p>Reviews tktkt</p>
    </div>
    <div class="features-wrapper">
        <h2 class="h3">Why it works</h2>
        <p>{{ product.metafields.custom.why_it_works }}</p>
        <h2>Always</h2>
        <p>{{ section.settings.always | newline_to_br }}</p>
    </div>
    <div class="testimonial-wrapper">
        <div class="testimonial-image-wrapper">
            <img src="{{ product.metafields.custom.testimonial_image | image_url }}" alt="{{ product.metafields.custom.testimonial_image.alt }}" loading="lazy" width=368 height=474 class="img-outline" />
        </div>
        <div class="testimonial-text-wrapper">
            <p>{{ product.metafields.custom.testimonial_text }}</p>
        </div>
    </div>
    <div class="form-wrapper bg-dark flex-row link-hover">
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="flex-col flex-center">
            <select name="id" class="visually-hidden">
                {% for variant in product.variants %}
                    {% if variant.available == true %}
                    <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
                    {% else %}
                    <option disabled="disabled"> {{ variant.title }} - sold out!</option>
                    {% endif %}
                {% endfor %}
            </select> 
            <input type="submit" name="add" id="add" value="Add to Cart - {{ product.price | money_without_trailing_zeros }}" class="input-plain link-hover">
        </form>
    </div>
</div>
  
{% style %} 
.main-product .hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.main-product .hero-wrapper .gallery-wrapper {
    width: 100%;
    max-height: 100vh;
}

.main-product .hero-wrapper .gallery-wrapper .gallery-images {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.main-product .hero-wrapper .gallery-wrapper .gallery-images > * {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main-product .gallery-wrapper img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.main-product .form-wrapper {
    position: fixed;
    z-index: 111;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    height: 78px;
    text-align: center;
}
.main-product .form-wrapper form {
    flex: 2;
}
.main-product .form-wrapper input {
    color: white;
    height: 100%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
}
{% endstyle %}

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "textarea",
      "id": "always",
      "label": "Always..."
    }
  ]
}
{% endschema %}