<div class="page-container main-page-padding">
  <h1 class="h1 text-center mb-24">{{ section.settings.text }}</h1>
  <h2 class="h3 text-center mb-8">Shop</h2>
  <div class="flex-row flex-center">
    {% for product in collections['404'].products %}
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" width=207 height=276 loading="lazy" class="object-cover-min">
      </a>
    {% endfor %}
  </div>
</div>

{% if section.settings.darkMode %}
  {%- render 'dark-mode-styles' -%}
{% endif %}

{% if section.settings.bg_img != blank %}
  <style>
    .site-main {
      background: url({{ section.settings.bg_img | image_url }}) no-repeat fixed center center;
      background-size: cover;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "checkbox",
      "id": "darkMode",
      "default": true,
      "label": "Dark mode?"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "text",
      "default": "You’ve lost your way. Let’s get back on track.",
      "label": "Text"
    }
  ]
}
{% endschema %}