<div class="product-form form-wrapper bg-dark flex-row link-hover">
    <form action="/cart/add" method="post" enctype="multipart/form-data" class="flex-col flex-center">
        <select name="id">
            {% for variant in product.variants %}
                {% if variant.available == true %}
                <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled"> {{ variant.title }} - sold out!</option>
                {% endif %}
            {% endfor %}
        </select> 
        <input type="submit" name="add" id="add" value="Add to Cart - {{ product.price | money_without_trailing_zeros }}" class="input-plain link-hover">
    </form>
</div>


{% style %} 

.product-form.form-wrapper {
    position: fixed;
    z-index: 111;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    height: 78px;
    text-align: center;
}
.product-form.form-wrapper form {
    flex: 2;
}
.product-form.form-wrapper input {
    color: white;
    height: 100%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
}
{% endstyle %}